/* fonts.css */

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-merriweather: 'Merriweather', serif;
  --font-hebrew: 'Rubik', sans-serif;
  --font-arabic: 'Merriweather', serif;
}

.font-merriweather {
  font-family: var(--font-merriweather);
}

.font-hebrew {
  font-family: var(--font-hebrew);
}

.font-arabic {
  font-family: var(--font-arabic);
}